img {
    width: 400px;
    height: auto;
}

h1 {
    background-color: #f5f5dcb0;
    color: #440000;
    text-align: center;
    font-family: "Brush Script MT", serif;
}
h2 {
    color: #10122c;
    text-align: left;
    font-family: "Garamond", serif;
    background-color: dimgray;
}